.container {
  display: flex;
  justify-content: space-between;
}

.button {
  width: 100px;
  border: none;
  padding: 16px;
  background-color:#454684;
  color: white;
  cursor: pointer;
}

.button:disabled{
  background-color: #8e8fc4;
  cursor: not-allowed;
}